@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=EB+Garamond:wght@400;500;600;700&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
  --font-eb-garamond: 'EB Garamond', serif;
}
